@import url('https://fonts.cdnfonts.com/css/netflix-font');

*{
    margin: 0;
    padding: 0;
    font-family: 'Netflix Font', sans-serif;
    box-sizing: border-box;
}
body{
    background: black;
    color: white;
}
.header{
    width:100%;
    height:100vh;
    background-image: linear-gradient(rgba(0,0,0,.7),rgba(0,0,0,.7)),url(/Netflix/images/header-image.png);
    background-size: cover;
    background-position: center;
    padding: 10px 8%;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top : 15px;
    padding-left: 50px;
    padding-right:50px;
}
.logo{ 
    width: 148px;
    cursor: pointer;
}
nav button{
    border:0;
    outline: 0;
    background-color: #db0001;
    color: white;
    padding:7px 20px;
    font-size: 12px;
    border-radius: 4px;
    margin-left: 10px;
    cursor: pointer;
}
.language-btn{
    display: inline-flex;
    align-items: center;
    background: transparent;
    border:1px solid white;
    padding: 7px 10px;
}
.language-btn img{
    width:10px;
    margin-left: 10px;
}
.header-content{
position: absolute; 
text-align: center;
margin-top: 15%;
width: 100%;
}
.header-content h1{
    left: 13%;  
    font-size: 48px;
    max-width: 1000px;
    font-weight: 600; 
    margin-left: 3%;
}
.header-content h3{
    margin-right: 20%;
    font-size: 24px;
    margin-top: 10px;
    font-weight: 400;
}
.header-content p{
    margin-right: 17%;
    font-size: 24px;
    margin-top: 30px;
    font-size: 20px;
}
.email-signup{
   background: #fff;
   border-radius: 4px;
   display: flex;
   align-items:center;
   margin-top: 30px;
   margin-left: 19%;
   max-width: 45%;
   justify-content: space-between;
   overflow: hidden; 
}
.email-signup input{
    flex: 1;
    border: 0;
    outline: 0;
    margin-left: 20px;
}
.email-signup button{
    background: #db0001;
    border:0;
    outline: 0;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    padding: 15px 30px;
    max-width: 210px;
} 
.features{
    padding: 50px 12%;
    font-size: 22px;
}
.row{
    display:flex;
    width: 100%;
    align-items: center;
    flex-wrap: wrap;
    padding: 50px 0;
    
}
.text-col{
    flex-basis: 50%;
    margin-bottom: 50px;
}
.img-col{
    flex-basis: 50%;
    margin-bottom: 20px;
}
.img-col img{
    width: 100%;
    margin: auto;
}
.features h2{
    font-size: 50px;
    font-weight: 600;
    margin-bottom: 20px;
}
.faq{
    padding: 10px 12%;
    text-align: center;
    font-size: 18px;
}
.faq h2{
    font-size: 40px;
    font-weight: 600;
}
.ques{
    margin: 60px auto;
    width: 100%;
    max-width: 750px;
}
.ques li{
    list-style: none;
    width: 100%;
    padding: 5px;
}
.ques li label{
    display: flex;
    align-items:center ;
    padding: 20px;
    font-size: 18px;
    font-weight: 500;
    background: #303030;
    margin-bottom: 2px;
    cursor: pointer;
    position:relative;
}
label::after{
    content: "+";
    font-size: 34px;
    position: absolute;
    right: 20px;
    transition: transform 0.5s;
}
input[type="radio"]{
    display: none;
}
.content{
    background: #303030;
    text-align: left;
    padding: 0px 20px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s,padding 0.5s;
}
.ques input[type="radio"]:checked+label+.content{
    max-height: 600px;
    padding: 30px 20px;
}
.ques input[type="radio"]:checked+label::after{
    transform: rotate(135deg);
}
.faq .email-signup{
    max-width: 600px;
    margin:20px auto 60px;
}
.faq small{
    font-size: 20px;
}
.footer{
    padding: 50px 15% 10px;
    border-top: 6px solid #333;
    color: #ffffffb3;    
}
.footer h2{
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 30px;
}

.footer .col{
    flex-basis:25%;
    margin-bottom: 30px;
}
.footer .col a{
    display:grid;
    color: #ffffffb3;
    font-size: 14px;
    margin-bottom: 10px;
}
.footer .row{
    align-items: flex-start;
    padding: 10px 0;
}
.footer .language-btn{
    color: #fff;
    padding: 10px 20px;
    border-radius:5px
}
.copyright-txt{
 font-size:14px;
 margin-top: 20px;
 margin-bottom: 10px;
}
@media only screen and (max-width:600px){
    .logo{
        width: 100px;
        
    }
    
    nav button{
        padding: 5px 10px;
    }
nav .language-btn{
    padding:4px 8px;
}
.header-content{
    position: unset;
    transform: none;
    padding-top: 10px;
}
.header-content h1{
    font-size: 30px;
}
.header-content h3{
    font-size: 20px;
   padding-left: 50px;
}
.header-content p{
    font-size: 20px;
   padding-left: 30px;
   margin-left: 15px;
}
.email-signup button{
    font-size: 12px;
    padding: 10px 25px;
    margin-left: 80px;
}
.text-col h2{
    padding-top: 50px;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    margin-left: 60px;
    width: 100%;
}

}
